@import "fonts.css";
/*BASIC CONF*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   font-family: "Work Sans", sans-serif;
}
a {
   color: inherit;
   text-decoration: none;
}
button {
  border: none;
  background: none;
}
/*BASIC CONF*/

/*UNIQUE CONF*/
.grid {
  display: grid;
  &_col {
    &-6 {
      grid-template-columns: 1fr 1fr;
    }
    &-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-3 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.h-100 {
  height: 100%;
}
.justify {
  &-between {
  justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}
.align {
  &-center {
    align-items: center;
  }
  &-left {
    align-items: flex-start;
  }
}
.btn {
  &_price {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    width: 161px;
    height: 44px;
    cursor: pointer;
  }
  &_orange {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    width: 220px;
    height: 61px;
    cursor: pointer;
  }
  &_hollow {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
    height: 22px;
  }
}
.section {
  &_suptitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
  }
  &_title {
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #1D253C;
  }
  &_desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
}
/*UNIQUE CONF*/

/*HEADER SECTION*/
.header {
  height: 105px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  & .container {
    max-width: 1340px;
  }
  &_link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-left: 35px;
    transition: .15s;
    &:before {
      content: "";
      position: absolute;
      bottom: -2.5px;
      left: 0;
      background: #007188;
      height: 1px;
      width: 0;
      transition: .3s;
    }
    &:hover {
      color: #007188;
      &:before {
        width: 100%;
      }
    }

  }
  &_log-in {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-right: 39px;
  }

}
/*HEADER SECTION*/

/*HERO SECTION*/
.hero {
  height: 100vh;
  background: url("../images/hero1.png") no-repeat right;
  background-position-y: 17px;
  & .container {
    max-width: 1270px;
  }
  &_content {
    padding-top: 27px;
  }
  &_suptitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  &_title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    max-width: 463px;
    text-transform: capitalize;
  }
  &_desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    max-width: 411px;
    margin: 26px 0 40px;
  }
}
/*HERO SECTION*/

/*FUTURE SECTION*/
.future {
  background: #F9F5F2;
  padding: 85px;
  &_img {
    width: 500px;
    height: 436px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_sm_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    margin-top: 20px;
    &:before {
      content: "*";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #F46752;
    }
  }
  &_right-part {
    padding-left: 94px;
  }
  &_title {
    margin-top: 26px;
  }
  &_desc {
    margin: 19px 0 32px;
  }
}
/*FUTURE SECTION*/

/*TEHNOLOGY SECTION*/
.tehnology {
  padding: 148px 0 164px;
  &_title {
    margin: 27px 0 35px;
  }
  &_desc {
    max-width: 483px;
    margin-bottom: 15px;
  }
  &_img {
    position: relative;
    width: 542px;
    height: 510px;
    & img {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_dots {
    position: absolute;
    top: -35px;
    left: -45px;
  }
  &_comment {
    position: absolute;
    display: flex;
    width: 326px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    bottom: -25px;
    left: -60px;
    z-index: 11;
  }
  &_right-part {
    padding-left: 8px;
  }
}
/*TEHNOLOGY SECTION*/

/*INSURANCE SECTION*/
.insurance {
  position: relative;
  padding: 91px 0 85px;
  background: #F8F8F8;
  &_title {
    margin: 30px 0 37px;
  }
  &_desc {
    text-align: center;
    padding: 0 12px;
    margin-bottom: 41px;
  }
  & .grid {
    width: 100%;
    grid-column-gap: 70px;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
    border-radius: 0;
    &.card {
      &_first {
        padding-top: 70px;
      }
      &_second {
        padding-top: 30px;
      }
      &_third {
        padding-top: 44px;
      }
    }
  }
  &_card.card_first {
    & .insurance_sm-title {
      margin: 15px 0 5px;
    }
    & .insurance_sm-desc {
      width: 212px;
      & a {
        text-decoration: underline;
        color: #1D253C;
      }
    }
  }
  &_card.card_second {
    & .insurance_sm-desc {
      width: 258px;
      text-align: center;
      margin-top: 15px;
    }
  }
  &_card.card_third {
    & .insurance_sm-title {
      margin: -2px 0 10px;
    }
    & .insurance_sm-desc {
      font-size: 16px;
      text-align: center;
      color: #5A6482;
      width: 244px;
    }
  }
  &_sm-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #1D253C;
  }
  &_sm-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
  }
  &_umb {
    position: absolute;
    left: 0;
    right: 0;
    top: -110px;
    bottom: 0;
    margin: 0 auto;

  }
  &_dog {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}
/*INSURANCE SECTION*/

/*STEPS SECTION*/
.steps {
  background: #363839;
  padding: 120px 0 101px;
  overflow: hidden;
  &_suptitle {
    font-weight: 500;
    text-align: center;
  }
  &_title {
    margin: 26px 0 15px;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
  }
  &_desc {
    margin: 0 auto;
    text-align: center;
    color: #ACB4BF;
    max-width: 731px;
  }
  &_content {
    height: 195px;
    margin-top: 63px;
    position: relative;
    & .steps_left-part {
      position: absolute;
      bottom: -3.62px;
      left: 63px;
      width: 234px;
    }
    & .steps_center-part {
      position: absolute;
      width: 234px;
      left: 0;
      right: 0;
      bottom: 16.38px;
      margin: 0 auto;
      & .steps_sm-title {
        margin-bottom: 14px;
      }
    }
    & .steps_right-part {
      position: absolute;
      width: 256px;
      right: 56px;
      bottom: 22.38px;
    }
    & .steps_left-part, .steps_right-part {
      & .steps_sm-title {
        margin-bottom: 8px;
      }
    }
  }
  &_sm-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  &_sm-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ACB4BF;
  }
  &_one {
    position: absolute;
    top: 3.62px;
    left: 167px;
    z-index: 11;
  }
  &_two {
    position: absolute;
    top: 9.63px;
    left: 1px;
    right: 0;
    margin: 0 auto;
    z-index: 11;
  }
  &_three {
    position: absolute;
    top: -0.38px;
    right: 162px;
    z-index: 11;
  }
  &_circle1 {
    position: absolute;
    top: 23.68px;
    left: 182px;
    z-index: 10;
  }
  &_circle2 {
    position: absolute;
    top: 23.62px;
    left: -20px;
    right: 0;
    margin: 0 auto;
    z-index: 10;
  }
  &_circle3 {
    position: absolute;
    top: 9.62px;
    right: 174px;
  }
  &_path {
    position: absolute;
    top: 16.62px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &_confetti {
    position: absolute;
    top: -148px;
    right: -167px;
  }
  &_drop1 {
    position: absolute;
    top: -13px;
    left: 78px;
  }
  &_drop2 {
    position: absolute;
    top: 0.67px;
    left: 348px;
  }
  & .btn_orange {
    margin-top: 36px;
  }
}
/*STEPS SECTION*/

/*FREE SECTION*/
.free {
  padding: 148px 0 164px;
  background: #F9F5F2;
  &_img {
    position: relative;
    width: 542px;
    height: 510px;
    & img {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;
      object-fit: cover;
    }
  }
  & .tehnology_comment {
    position: absolute;
    display: flex;
    width: 307px;
    height: 50px;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #1D253C;
    bottom: -25px;
    left: 191px;
    z-index: 11;
  }
  &_left-part {
    padding-right: 8px;
  }
  &_right-part {
    padding-left: 94px;
    & .free_title {
      margin: 30px 0 24px;
      width: 496px;
    }
    & .free_desc {
      max-width: 455px;
      margin-bottom: 23px;
    }
    & .btn_hollow {
      font-weight: 400;
      color: #007189;
    }
  }
}
/*FREE SECTION*/

/*CARDS SECTION*/
.cards {
  padding: 161px 0 133px;
  & .grid {
    grid-column-gap: 20px;
  }
  &_card {
    width: 260px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 22px;
  }
  &_title {
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
  }
  &_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
  }
  &_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  &_card_light-blue {
    background: rgba(169, 216, 255, 0.3);
    & .cards_title,
    .cards_link {
      color: #7CAFDD;
    }
  }
  &_card-orange {
    background: rgba(255, 174, 104, 0.3);
    justify-content: normal;
    padding: 40px 0 35px 22px;
    & .cards_title {
      color: #E79751;
      width: 153px;
    }
    & .cards_desc {
      font-size: 15px;
      margin: 29px 0 76px;
    }
    & .cards_link {
      color: #E79751;
    }

  }
  &_card-red {
    background: rgba(250, 82, 64, 0.3);
    & .cards_title, .cards_link {
      color: #FA5240;
    }
    & .cards_desc {
      width: 211px;
    }
  }
  &_card-blue {
    background: rgba(18, 111, 133, 0.3);
    justify-content: normal;
    padding: 34px 0 35px 22px;
    & .cards_title {
      color: #126F85;
      width: 186px;
    }
    & .cards_desc {
      margin: 35px 0 77px;
    }
    & .cards_link {
      color: #126F85;
    }
  }
  &_card svg {
    margin-left: 8px;
  }
}
/*CARDS SECTION*/

/*TODAY SECTION*/
.today {
  position: relative;
  background: #E5F3FE;
  padding: 107px 0 85px;
  &_title {
    font-weight: 600;
    text-align: center;
  }
  &_desc {
    margin: 8px 0 39px;
    text-align: center;
  }
  &_umb {
    position: absolute;
    top: -64px;
    left: 64px;
  }
  &_boy {
    position: absolute;
    bottom: 0;
    right: 252px;
  }
}
/*TODAY SECTION*/

/*FOOTER SECTION*/

/*FOOTER SECTION*/




